<div class="info">
    <div class="info__reggio">
        <section class="reggio">
          <h3 class="reggio__header">Reggio Emilia</h3>
          <div class="reggio__text-box">
            <p>Vi arbetar med inspiration av <a href="http://www.reggioemilia.se/pedagogiken/" target="_blank">Reggio Emilia</a>. Vi är övertygade om att alla barn föds rika och intelligenta och med en stark inneboende drivkraft att utforska världen.</p>
          </div>
        </section>
      </div>
  <section>
    <div class="info__text">
      <h1>Förskola</h1>
      <p>Vi har en helhetssyn på barns lärande där omsorg och lärande är lika viktiga delar.
        Vi strävar efter att få in lärandet när barnen har en naturlig nyfikenhet och är som mest mottagliga.
        Dessa ögonblick fångar vi med hjälp av pedagogisk dokumentation och får på detta sätt bevis på hur vi arbetar med förskolans läroplansmål.
        Klicka på filmerna nedan för att få en glimt av vårt arbete.</p>
    </div>
    <div class="info__text">
      <h4>En vecka på Kossan</h4>
      <p>Såhär brukar en vecka på Kossan se ut:</p>
      <p><b>Måndagar</b> har vi en utedag, då vi är ute så mycket vi kan. Vi leker i vår fina trädgård med allt den har att erbjuda!</p>
      <p><b>Tisdagar</b> har vi sång, rytmik och drama med vår utbildade specialmusik ledare Åsa!</p>
      <p><b>Onsdagar</b> delar vi in oss i smågrupper och gör olika aktiviteter, det kan vara olika skapande aktiviteter, mattesagor, gruppstärkande övningar etc. </p>
      <p><b>Torsdagar</b> går vi alla på utflykt och utforskar i vårt närområde. Vi har matsäck med oss och är iväg hela förmiddagen. </p>
      <p><b>Fredagar</b> försöker vi fånga upp barnens intressen och göra aktiviteter som bygger på dessa.</p>
      <p>Varje dag lagar vår fantastiska kock Philip mat som vi alla äter tillsammans med barnen. Då och då går vi på spontanutflykter till tex biblioteket där vi lyssnar på sago stunder eller lånar nya böcker. Vi har minst en daglig sånsamling tillsammans där vi sjunger och rör oss till musik.</p>
    </div>
  </section>
  <section>
    <div class="info__movies">
      <app-card [header]="'Rörelse i lek'" [text]="'Barn rör sig hela tiden - och det är bra! Det utvecklar självständighet och tillit till sin egen förmåga. På Kossan har bland annat rörelse i den dagliga sångstunden. Dansen ger en bättre motorik, koordinationsförmåga och kroppsuppfattning.'">
        <div class="info__youtube-container">
          <iframe class="info__youtube-player" src="//www.youtube.com/embed/q7BxK_mn8iE?color=red&controls=1&hl=sv&iv_load_policy=1&modestbranding=1&rel=0&showinfo=1" frameborder="0" allowfullscreen="true"></iframe>
        </div>
      </app-card>
      <app-card [header]="'Skapande'" [text]="'Viljan att skapa kommer naturligt för barnen och det utvecklar förmågan att förmedla upplevelser och tankar. Vi har skapande i många uttrycksformer som lek, bild, rörelse, sång och musik, dans och drama.'">
        <div class="info__youtube-container">
          <iframe class="info__youtube-player" src="//www.youtube.com/embed/3dQ_1aAHsWc?color=red&controls=1&hl=sv&iv_load_policy=1&modestbranding=1&rel=0&showinfo=1" frameborder="0" allowfullscreen="true"></iframe>
        </div>
      </app-card>
      <app-card [header]="'Social kompetens'" [text]="'En barngrupp i blandade åldrar innebär att barnen lär sig ta hänsyn till och leva sig in i andra människors situation samt vilja hjälpa andra.'">
        <div class="info__youtube-container">
          <iframe class="info__youtube-player" src="//www.youtube.com/embed/wtzki8-SLtM?color=red&controls=1&hl=sv&iv_load_policy=1&modestbranding=1&rel=0&showinfo=1" frameborder="0" allowfullscreen="true"></iframe>
        </div>
      </app-card>
      <app-card [header]="'Naturvetenskap'" [text]="'Experiment utvecklar förståelsen för naturvetenskap och samband i naturen, liksom sitt kunnande om växter, djur, samt enkla kemiska processer och fysikaliska fenomen. Barnen lär sig ställa frågor, utforska och utveckla sin nyfikenhet och lust att leka och lära.'">
        <div class="info__youtube-container">
          <iframe class="info__youtube-player" src="//www.youtube.com/embed/QWiaDt50xJM?color=red&controls=1&hl=sv&iv_load_policy=1&modestbranding=1&rel=0&showinfo=1" frameborder="0" allowfullscreen="true"></iframe>
        </div>
      </app-card>
      <app-card [header]="'Matematik genom lek'" [text]="'Genom leken får barnen utveckla sin förmåga att bygga, formge och konstruera med olika material. Det ger en bra förståelse för rum, former, läge och riktning.'">
        <div class="info__youtube-container">
          <iframe class="info__youtube-player" src="//www.youtube.com/embed/6a2RzxMsKFo?color=red&controls=1&hl=sv&iv_load_policy=1&modestbranding=1&rel=0&showinfo=1" frameborder="0" allowfullscreen="true"></iframe>
        </div>
      </app-card>
    </div>
  </section>
</div>
