<div class="coop">
  <section>
    <h1>Kooperativ</h1>
    <p>
      Att ha sitt barn på föräldrakooperativ innebär mer arbete och ansvar än en kommunal förskola – men det innebär också unika möjligheter för dig som förälder att ta del av och bidra till ditt barns vardag på förskolan, och att lära känna de andra familjerna. Föräldrarnas engagemang är det som möjliggör denna typ av småskalig verksamhet, och den extra insats det innebär kommer mångfalt tillbaka i form av trygghet och gemenskap för både barn och vuxna.
      Föräldrakooperativet Kossan är en politiskt och religiöst obunden ekonomisk förening där medlemmarna är alla föräldrar till barnen som går på förskolan. Föreningen har arbetsgivaransvar för personalen som, med förskolechefen i spetsen, ansvarar för den pedagogiska verksamheten. Tillsammans med personalen är det vi föräldrar som skapar och bidrar till den miljön som barnen tillbringar vardagarna i.
    </p>
  </section>
  <section>
    <div class="coop__engagement">
      <img class="coop__engagement-image" src="/assets/images/card_lekback_small.jpg" alt="Lekbäck">
      <div class="coop__engagement-text">
        <h4><i class="jollyicon-heart"></i>&nbsp;&nbsp;&nbsp;DITT ENGAGEMANG GÖR SKILLNAD</h4>
        <p>
            Engagemanget består bland annat i styrelseuppdrag och föräldramedverkan. Styrelsen har ansvar för hela föreningen genom ett antal poster med olika ansvarsområden. För varje familj som blir medlemmar räknar vi med att åtminstone en av föräldrarna kommer att sitta med i styrelsen under medlemstiden. En ledamot antas sitta i styrelsen ca tre år, men kan byta post inom styrelsen under tiden.
            Föräldramedverkan innebär att vi föräldrar går in som vikarier vid personalens planering. På Föräldrakooperativet Kossan har vi föräldramedverkan på onsdagar kl. 15 – 17 samt varannan fredag kl. 15- 17, fördelat på cirka tre sådana pass per förälder och termin. Tack vare föräldramedverkan lär vi alla även känna varandras barn, och de lär känna oss. Det är en rikedom att få lära känna nitton andra små människor till mycket mer än bara namnet, och bidrar till att skapa en ovärderlig trygghet och gemenskap för både barn och föräldrar.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="coop__friends">
      <div class="coop__friends-text">
        <h4><i class="jollyicon-smiley-happy"></i>&nbsp;&nbsp;&nbsp;VÄNNER FÖR LIVET</h4>
        <p>
          Vid ett par tillfällen per termin anordnas storstädningsdagar samt ute- eller innefixardagar. Vi har även två årliga fester, en på våren för alla på Kossan och en på hösten som bara är för de vuxna. Både fixardagar och fester bidrar till att familjerna lär känna varandra väl - kanske kommer även du som förälder att få nya vänner för livet här?
        </p>
      </div>
      <img class="coop__friends-image" src="/assets/images/card_kossanparty_small.jpg" alt="Sommarfest">
    </div>
  </section>
</div>
