<div class="employees">
  <section>
    <h1>Vår personal</h1>
  </section>
  <section>
    <div class="employees__list">
      <app-card
        [header]="'Elise'"
        [subheader]="'Förskolechef'"
        [flat]="true"
        [text]="'Jag har jobbat på förskola sedan 2008. Majoriteten av den tiden har jag arbetat Reggio Emilia-inspirerat. Att se det kompetenta barnet och att arbeta med barns delaktighet som en självklar del av verksamheten är oerhört roligt och viktigt tycker jag. Jag har även lång erfarenhet av att driva och förvalta olika typer av föreningar.'"
        [email]="'forskolechef@kossan.net'"
      >
        <div class="employees__image">
          <img src="/assets/images/elise.png" alt="Elise">
        </div>
      </app-card>
      <!-- <app-card
        [header]="'Hilda'"
        [subheader]="'Barnskötare'"
        [flat]="true"
        [text]="'För sju år sedan fick jag möjligheten att jobba med barn inom idrott. Jag sökte mig sedan till kossan då jag själv gått här som barn och vet vilken fantastisk förskola det är. Jag brinner för att varje barn ska tro på sig själv och att våga testa nya saker. Jag strävar efter att vara en hjälpsam pedagog som varje barn känner sig trygg med.'"
        [email]="'hilda@kossan.net'"
      >
        <div class="employees__image">
          <img class="employees__image" src="/assets/images/hilda.png" alt="Hilda">
        </div>
      </app-card> -->
      <app-card
        [header]="'Åsa'"
        [subheader]="'Musik & drama pedagog'"
        [flat]="true"
        [text]="'Jag är Specialmusikledare med vidareutbildning inom drama/rytmik och har arbetat med barn och musik i olika sammanhang sedan 1995. Musik/drama är, av flera anledningar, så tacksamt och viktigt att arbeta med i förskolan. Bl.a för att överbrygga våra olikheter genom att vara ett språk som vi alla, oavsett ålder, kön, funktionsvariation eller kulturell bakgrund kan förstå.'"
        [email]="'asaskog@kossan.net'"
      >
        <div class="employees__image">
          <img class="employees__image" src="/assets/images/asa_skog.png" alt="Åsa">
        </div>
      </app-card>
      <app-card
        [header]="'Lena'"
        [subheader]="'Barnskötare'"
        [flat]="true"
        [text]="'Jag har jobbat i 13 år inom barnomsorgen. Att se  barnens nyfikenhet och att själv kunna bidra med kreativitet och intresse leder till utveckling och glädje både för barnen och för mig.'"
        [email]="'lena@kossan.net'"
      >
        <div class="employees__image">
          <img class="employees__image" src="/assets/images/lena.png" alt="Lena">
        </div>
      </app-card>
      <app-card
        [header]="'Elisabeth'"
        [subheader]="'Förskollärare'"
        [flat]="true"
        [text]="'Jag har kompletterat min utbildning med kurser i förskole-lyftet naturvetenskap, musik i förskolan, handledning och bedömning av lärares professionsutveckling 1.
        Jag brinner för mitt yrke som förskollärare! 
        Kärlek, omtanke och förståelse är mina ledord!
        Genom barnens nyfikenhet, upptäckarglädje och undervisning samtalar och lär vi av varandra.
        Min önskan är att kunna förmedla dessa känslor till barnen så att de kan få de bästa förutsättningarna i förskolan och i framtiden.
        '"
        [email]="'elisabeth@kossan.net'"
      >
        <div class="employees__image">
          <img class="employees__image" src="/assets/images/elisabeth_n.png" alt="Elisabeth">
        </div>
      </app-card>
      <app-card
        [header]="'Philip'"
        [subheader]="'Kock'"
        [flat]="true"
        [text]="'Mitt kök är ett öppet kök och alla är välkomna in, pedagoger, barn och föräldrar. De senaste 20 åren har jag arbetat som kock i Stockholm med specialistinriktning på allergimat. Jag arbetade även med catering och gjorde mat till Nobelfesten. På Kossan kommer det serveras mat med spännande smaker och nyttiga ingredienser.'"
        [email]="'philip@kossan.net'"
      >
        <div class="employees__image">
          <img class="employees__image" src="/assets/images/philip.png" alt="Philip">
        </div>
      </app-card>
    </div>
  </section>
</div>
