<footer class="footer">
  <img src="/assets/images/scissors.png" class="footer__scissors">
  <section class="footer__container">
    <div class="footer__nav-container">
      <nav class="footer__nav">
          <a class="footer__nav-item" routerLink="/hem" routerLinkActive="active">Hem</a>
          <a class="footer__nav-item" routerLink="/forskola" routerLinkActive="active">Förskola</a>
          <a class="footer__nav-item" routerLink="/kooperativ" routerLinkActive="active">Kooperativ</a>
          <a class="footer__nav-item" routerLink="/personal" routerLinkActive="active">Personal</a>
          <a class="footer__nav-item" routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
          <a class="footer__nav-item" routerLink="/intresseanmalan" routerLinkActive="active">Intresseanmälan</a>
      </nav>
    </div>
    <div class="footer__links">
      <h4>Följ oss</h4>
      <a href="https://www.facebook.com/ForaldrakooperativetKossan/" target="_blank" class="footer__link--facebook"><i class="jollyicon-facebook"></i> Facebook</a>
      <a href="https://www.instagram.com/forskolankossanlund/" target="_blank" class="footer__link--instagram"><i class="jollyicon-instagram"></i> Instagram</a>
      <a href="https://www.youtube.com/channel/UCp53sQsOPvBH1V3dOOh-isg/" target="_blank" class="footer__link--youtube"><i class="jollyicon-youtube"></i> YouTube</a>
    </div>
    <div class="footer__contact">
      <a href="https://www.google.se/maps/place/F%C3%B6r%C3%A4ldrakooperativet+Kossan/@55.7191941,13.1788558,17z/data=!3m1!4b1!4m5!3m4!1s0x4653bd801c736297:0xe1c950eadc3794cd!8m2!3d55.7191941!4d13.1810445" target="_blank" class="footer__contact-link"><i class="jollyicon-location"></i> Lavendelvägen 11</a>
      <a href="tel:+46707554068" class="footer__contact-link"><i class="jollyicon-phone"></i> 0707-55 40 68</a>
      <a href="https://medverka.kossanlund.se/" target="_blank" class="footer__contact-link"><i class="jollyicon-star"></i> Föräldramedverkan</a>
    </div>
    <div class="footer__logo-container">
      <img clasS="footer__logo" src="/assets/images/kossan-logo.png" alt="Kossan Logo">
    </div>
  </section>
  <div class="footer__copy-container">
    <section>
      <div class="footer__copy">&copy; {{ year }} • Föräldrakooperativet Kossan • 716438-9160</div>
    </section>
  </div>
</footer>
