<app-full-slider></app-full-slider>
<div class="available">
  <h4><i class="jollyicon-promote"></i>&nbsp;&nbsp;&nbsp;Lediga platser nu!</h4>
  <p><a routerLink="/intresseanmalan">Anmäl intresse här</a></p>
</div>
<div class="home">
  <section>
    <div class="home__features">
      <app-feature
        class="home__feature"
        [jollyIcon]="'fork-spoon'"
        [title]="'Egen kock'"
        [text]="'Mat blir bäst om det lagas från grunden, och självklart ekologisk. Vår egen kock lagar och varierar alla måltider. Vi serverar frukt, lunch och mellanmål.'"
      ></app-feature>
      <app-feature
        class="home__feature"
        [jollyIcon]="'smiley-happy'"
        [title]="'Små barngrupper'"
        [text]="'Små barngrupper gör att barnen orkar med dagarna betydligt lättare. Vi har hög personaltäthet som gör att vi kan möta barnens intressen och behov.'"
      ></app-feature>
      <app-feature
        class="home__feature"
        [jollyIcon]="'heart'"
        [title]="'Engagemang'"
        [text]="'En engagerad, driven och utbildad personal gör att den pedagogiska verksamheten verkligen är i topp-klass. Detta kan vi ha tack vare starkt föräldraengagemang.'"
      ></app-feature>
      <app-feature
        class="home__feature"
        [jollyIcon]="'home'"
        [title]="'Unika lokaler'"
        [text]="'Förskolan ligger i en egen villa och har väl genomtänkt inne och utemiljö med många olika rum som gör det lätt att dela barnen i mindre grupper. Utomhus ligger fokus på de fyra elementen; vatten, luft, jord och eld.'"
      ></app-feature>
      <app-feature
        class="home__feature"
        [jollyIcon]="'flag'"
        [title]="'Grön flagg'"
        [text]="'Vi är övertygade om att arbetet med hållbar utveckling börjar med barnen, därför är vår förskola certifierad för Grön Flagg!'"
      ></app-feature>
      <app-feature
        class="home__feature"
        [jollyIcon]="'leaf'"
        [title]="'Miljömedveten'"
        [text]="'Våra barn är det viktigaste för oss, därför måste vi tänka på framtiden. Det gör vi genom att ha en giftfri förskola och servera ekologisk mat. Det är bra!'"
      ></app-feature>
    </div>
  </section>
  <section>
    <div class="home__sustainability">
      <img src="/assets/images/skola_for_hallbar_utveckling.png" alt="Skola för hållbar utveckling">
      <p>Vi är stolta över att ha fått utmärkelsen "Skola för hållbar utveckling" av Skolverket.
        Inte så konstigt, hållbar utveckling ligger oss varmt om hjärtat!</p>
    </div>
  </section>
</div>
